	/*
	@font-face{ font-family:systemB; src: url(".././ttf/Ubuntu-L.ttf"); }
	@font-face{ font-family:konsole; src: url(".././ttf/UbuntuMono-R.ttf"); }
	@font-face{ font-family:msdos; src: url(".././ttf/MorePerfectDOSVGA.ttf"); }
	body{ font-family:systemB; margin:0; padding:0;}
	*/
	#main{
	margin:auto; width:66%; box-shadow:1px 4px 20px 1px #000;
	}
	#md{ padding:25px; }
	/*title*/
	#md .tt1, #md tt-xl{ font-size:36px; font-weight:bold; }
	#md .tt2, #md tt-xl{ font-size:24px; font-weight:bold; }
	#md .tt3, #md tt-lg{ font-size:20px; font-weight:bold; }
	#md .tt4, #md tt-md{ font-size:18px; font-weight:bold; }
	#md .tt5{ font-size:14px; font-weight:bold; }
	#md .tt6, #md tt-xs{ font-size:11px; font-weight:bold; }
	#md .under{ text-decoration:underline; }
	#md .stroke{ text-decoration: line-through; }	
	#md .over{ text-decoration: overline; }
	#md .part{ color:#afafaf; display:inline-block; padding:5px; width:100%; border-bottom: 1px solid #17b617; }
	#md .subpart{ color:#afafaf; display:inline-block; padding:5px; width:100%; text-decoration:underline; margin: 0 5px; }
		
	/*
	 # paragraphe Selector
	*/
	#md p, #md span.para{ 
		   text-align:justify; font-size:14px;
		   padding: 10px 10px; margin:5px; line-height:22px; 
		   width:100%; display:inline-block;vertical-align:top;
		}
	/*DSGN*/
	#md p, #md span.para{ 
		 color:#333333;
	}
	#md p::-moz-selection, #md span.para::-moz-selection{
		background-color:orange; color:#fff;
	}
	#md p::-webkit-selection, #md span.para::-webkit-selection{
		background-color:orange;color:#fff;
	}
	#md p::selection,#md span.para::selection{
		background-color:orange;color:#fff;
	}
	/**/

	#md .msdos{ font-family:msdos } #md .shell, #md .cscript{ font-family:konsole } #md .msdos, .shell, .cc, .cscript{ white-space:pre;}
	#md .msdos, .shell, .box, .silver, .cc{ 
		background:#ffec9a; border:1px solid #1fdf1f; 
		margin:5px auto; padding:5px; font-size:12px; width:85%; max-width:860px; min-width:480px;
	}
	#md .silver{ background:#fefefe; }
	#md .shell, .cc, .cscript{ background:rgb(44, 0, 30) !important; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
		font-family:konsole; color:#d2d200; padding:5px; white-space:pre;font-weight:bold; font-size:14px;
	}
	#md .cscript{ width:100%; overflow-x:hidden; line-height:14px !important; font-size:12px; background:#202020 !important;}
	#md .cscript div.sh{ overflow-y:hidden;  }
	#md .msdos{ background:#222222; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
			 font-family:msdos; color:#fff; font-size:13px; padding:5px; white-space:pre-line;
			}
	#md .blockQ{
			background:#d2691e; padding-left:5px;
		}
	#md .blockQ div{
			background:#f0f0f0; color:#55a9a9; width:100%; overflow:hidden; text-overflow:ellipsis;
		}
	#md .code{ background:#ececec;  padding:2px; border:1px solid #ffd9d9; font-size:12px; font-family: Trebuchet MS, konsole; }
	#md .versus{ vertical-align:5px; padding: 1px 5px 1px 2px; 
				background:#0075d2; border:1px solid #c0c0c0; font-weight:bold; 
				font-size:14px; display:inline-block; color:#fff; text-shadow:0.5px 0.5px .5px #000;
				-webkit-border-radius:3px;
				}
	#md section.select{
		border-left:1px solid transparent; position:relative;
	}
	#md section.select:hover{
		border-left:0 solid #AA0000;
		border-width: 1px 0 0 1px;
	}
	div.boxpict{border:1px solid #f0f0f0;font-weight:bold;}
	div.boxpict div.desc{padding: 5px;white-space: pre-wrap;overflow: hidden;width: 100%;}
	div.pictnode{ display:block;position:relative;padding:5px;border:1px solid aliceblue;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;background:aliceblue}
	div.pictnode div{ position:absolute; z-index:1; width:100%;height:100%;top:0;left:0;}
	div.pictnode img{width:100%;height:100%;display:none;}
	#md table{ border:1px solid #ececec;margin:5px; }
	#md table td{ padding:8px; border-top:1px solid #e6faff;   }
	#md .peert{ background:#99ebff; } #md .peertd{ background:#e6faff }
	.alignc{ text-align:center; } .alignl{ text-align:left; } .alignr{ text-align:right; } 

	#md .emojis{ width:25px; height:25px; background-repeat:no-repeat; background-size:25px auto; display:inline-block;vertical-align:-5px;}
	#md ul.proto{font-family:konsole; font-size:14px; list-style-type:none; margin:10px;padding:10px;border:1px solid aliceblue;width:80%;} 
	#md ul.proto span.type{min-width:150px;display:inline-block} 
	#md ul.list li{ padding:2px;  }
	li{ position:relative; line-height:19px; }

	#hexdump td.addr{ background:#cecece; text-align:center; width:50px;font-size:12px;}
	#hexdump td.h{ width:28px; height:28px !important; text-align:center; cursor:pointer;font-size:12px; font-weight:bold;  }
	#hexdump td.h:hover{background:#ffff00;}
	#hexdump td{ margin:0;padding:0;}
	#hexdump td.ascii{ font-size:10px; overflow:hidden; width:15px; height:15px; text-align:center;margin:0;padding:0;}


@media screen, handheld and (max-width: 800px) {
	#md p:parent, #md span.para:parent{ padding:0 !important; margin:0 !important; }
	div.pictnode{width:100% !important;}
}
@media screen and( min-width: 1000px){

	#md p, #md span.para{ background:red;  }

}

